<% provide(:title, 'Back Number') %>
<h1>Back Number</h1>

<div class="center">

  <hr>

  <h2>逐刊 カミトバ。 2014.11</h2>

  <div class="kamitobaBook clearfix">
    <div class="kamitobaBookImage">
      <%= image_tag "https://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YVzFlYTdPYzBJejA", :alt => "カミトバ１" %>
    </div>
    <div class="kamitobaBookDescription">
      <h4>【収録作品】</h4>
      愛の使者ピュアガールズ KY<br>
      金魚すくい 小山あると<br>
      クドリャフカの末裔 カムラジュンタ<br>
      ドキドキ!?ダイエット大作戦!! しろう<br>
      人魚の刺身 森田うよ介<br>
      初霜 北岾モナカ<br>
      エピローグ neko<br>
    </div>
  </div>

  <hr>

  <div class="interviewLogo">
    <%= image_tag "https://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YX2lraG1UODNFSWs", :alt => "部長が訊く" %>
  </div>

  <div class="interview">
    <div class="statement clearfix">
      <div class="speaker">森田うよ介</div>
      <div class="content">折角なんで、ちょっとこう、わいわいしゃべってるところを、社長が訊くみたいにして載せようと。でまぁ出るのは顔写真とか出ずに、たとえば「あると：今回はよろしくお願いします」みたいなそういう感じでバーって羅列していっていくやつ（笑）</div>
    </div>
    <div class="statement clearfix">
      <div class="speaker">小山あると</div>
      <div class="content">大変やなぁ</div>
    </div>
    <div class="statement clearfix">
      <div class="speaker">カムラジュンタ</div>
      <div class="content">文字に起こすの……</div>
    </div>
    <div class="statement clearfix">
      <div class="speaker">森田うよ介</div>
      <div class="content">それはもうT氏がすごい勢いでやってくれるんで</div>
    </div>
    <div class="statement clearfix"><div class="speaker">T</div><div class="content">すごい勢いで……やります（笑） みなさん声を張っていただければ</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">はい、声を張って</div></div>
    <div class="statement clearfix"><div class="speaker">一同</div><div class="content">お願いしまーす</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">どうしようかな……じゃまずちょっと軽く一言ずつじこしょうかい〜から〜……</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">自己紹介（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">え〜</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">ふふっ（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">きつい（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">これ誰に向けて自己紹介？</div></div>
    <div class="statement clearfix"><div class="speaker">KY</div><div class="content">企画開発部UIデザインG……</div></div>
    <div class="statement clearfix"><div class="speaker">一同</div><div class="content">（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">そらあかん（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">それやばい（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">どうしようかな〜。まぁ何かちょっとしゃべりましょうか。普通に。しゃべってるのを適当に</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">漫画、読んだ？みんなのやつ</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">絵だけ見ました</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">絵だけ見た？</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">ちゃんとは読んでないです</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">すみません。僕のがまだね……まだ上がってないですね……</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">僕も森田くん以外のは全部</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">森田くん以外のは読んだで</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">森田さんまだ上がってないんですか？（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">まだやねん</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">すみません……</div></div>

    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">KYくんは前から漫画描いてたんよね？</div></div>
    <div class="statement clearfix"><div class="speaker">KY</div><div class="content">はい</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">８年ぶり？高校以来？大学以来？</div></div>
    <div class="statement clearfix"><div class="speaker">KY</div><div class="content">大学以来ですね</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">北岾さんも描いてたんやっけ？</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">大学で1回だけ書きました</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">小山さんは初めて？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">僕はいつも描いてる</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">え？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">いつも描いてる</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">いつも描いてる！？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">うそ（笑） こんなん初めて</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">カムラさんも？</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">僕もこんなちゃんと描くのは初めて</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">しろうさんはずっと描いてた？</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">描いてないですよ（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">いやこれずっと描いてる絵柄や！</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">ドット絵はずっと描いてる？</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">ドット絵うまいよな</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">高校の時にジャンプ投稿しようと思ってしなかったっていう</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">KYは投稿したんでしょ？手塚治虫賞に</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">KYは普通にすごいと思う</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">最終候補に残ったり</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">nekoも結構ちょいちょい？</div></div>
    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">ちょいちょい趣味で描いてて……</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">趣味で描いてどっかに出したりしてないの？</div></div>
    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">出してないです。上司とかに見せてひかせる……（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">上司に見せてるだけなの？（笑） じゃあまだ色々ストックあるんや？</div></div>
    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">あるんですけど、どれもこれもよくわからない感じで……</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">他の同人にも出すんでしょ？</div></div>
    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">そうですね。今描いてるのは</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">今も描いてるの！？</div></div>

    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">森田くんは初めて？</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">僕はもう初めてですね。言い出しっぺが僕なんでね</div></div>

    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">どうですか？楽しかったですか？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">えー楽しかったよ。なんかね自分を重ねてる</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">あー漫画にですか？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">そうそうそう</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">昔似た話があったの？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">そうそう。僕小学生の時すごいひねくれた子供だった</div></div>
    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">あれ金魚飼われてたんですか？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">金魚を飼ってて、川に逃すっていう</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">ほんとに逃したんですか？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">ほんとに逃した</div></div>
    <div class="statement clearfix"><div class="speaker">KY</div><div class="content">生態系が……</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">生態系が乱れる（笑） いやでも川で金魚は行きられないと思う。でもなんか離すって悲しい話だったから、悲しい話が続くからハッピーエンドにしてって言われてハッピーエンドにした</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">あ、したんですか？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">した。ハッピーエンドだよこれ</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">結構悲しい話が多かったですからね</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">ラブストーリー。キュンとする</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">しろうくんはあれよね？ダイエット作戦描いて痩せた？（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">nekoさんからダイエットの話にしたらって言われて。それ真に受けて</div></div>
    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">でももっと緩い感じで描いてくるのかと思ったらすごいガチの上手いやつで（笑） この人デザイナーだっけって思って（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">ありがとうございます照</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">ツールもすごい慣れた感じで。あれはコミスタとかで描いてるの？</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">そうですね。クリップスタジオで</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">そうなんや。すごい慣れた感じだったよね。俺も今回はじめて買ってやってみたけど</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">みんなCGで書いてるんですか？</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">フォトショップ！</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">フォトショプ。CGスタジオ？クリップスタジオ？</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">クリップスタジオ。液タブ買って</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">あーそうですね。言うてはりましたね。nekoも液タブだっけ？</div></div>
    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">液タブとクリップスタジオとフォトショップを駆使してます</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">北岾モナカさんは？</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">私は手で描いて、トーンだけパソコンです</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">KYは何で描いてるん？</div></div>
    <div class="statement clearfix"><div class="speaker">KY</div><div class="content">クリップスタジオとフォトショとイラレ</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">クリップスタジオすごいね</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">時代はクリップスタジオ</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">コミスタ前買ったんですけど</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">コミスタ買っちゃいました……</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">買ったけど全然使ってない。コミスタプロってやつ買ったんだけど</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">森田うよ介くんは何で描いてるの？</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">僕は手です。文字だけパソコンで</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">え、リアルに原稿用紙に？</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">原稿用紙で</div></div>
    <div class="statement clearfix"><div class="speaker">しろう</div><div class="content">じゃあ Undo, Redo は……</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">できないね！</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">こだわりがあんの？</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">なんか紙に書いてるほうがテンションあがるんですよね。カリカリカリって感じが</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">でも何か紙のタッチ、鉛筆のタッチの方がいいよね</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">そうですね。僕はなんか楽なんですよね</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">でもアナログで描けって言われたら絶対完成できないし、俺も子供の頃から漫画家になりたかったけど完成させることできなかったから</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">でも今回は</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">今回はだからデジタルの力を借りて</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">ふふふっ（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">デジタルの線ってこうカクカクカクってなりますよね。なんかしゅって描いたつもりでもちょっとカクカクカクって</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">けどねクリスタの場合それは補完してくれるから。フォトショはやってくれないけど。仕事でも使いたい</div></div>

    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">北岾モナカさんのやつがなんか謎のエロスって言われてたんですけど何なんですか？すごい気になってて（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">あの太ももがすごいいい表現されてて</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">俺北岾モナカさんのやつネームの段階で完成してたからあれでいいなって思ってたんだけど。しかもあの時名前がユウコって書いてたやんか？</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">あれ名前ユウコです。ゆうこりんがモデルです</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">そうなんや。ネームにはユウコって書いてたけど本編にはあれは？</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">ユウコなんですけど書いたら怒られるかなって思って（笑）</div></div>

    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">なんか旦那さんがロングヘアがいいってずっと横で言ってきて。でも絶対しないからって（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">絶対しないから（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">ロング難しいしねー</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">ロング描くの大変だしなんか違うって思って</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">完全に旦那さんの趣味やしね（笑） 別に理由とかないよね。好きだから、やもんね（笑）</div></div>

    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">次はいつ目指すんですか？</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">次はまた半年後でしょ</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">春？</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">春かなぁ？春……かなぁ……？（笑）</div></div>

    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">まぁね。ほら。始めはこうね。ほら。このメンバーだけじゃなくて、もうちょっといっぱいいたやん？</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">そうやな</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">宮川さんとか、久田さんとか</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">あのふたりもまたやりたいって言ってたで</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">そういう人にもまた今度声かけて。そうやってこういろんな人が入ってきたらまたどんどん面白くなるなぁって</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">KYのタッチと僕のタッチが全然違うから</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">みんな違うくてみんないいですよね</div></div>
    <div class="statement clearfix"><div class="speaker">KY</div><div class="content">今から統一していきます？</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">寄せてく？（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">KYみたいな女の子の絵かわいいよね。あんな感じの描きたい</div></div>

    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">いや続けばいいんですけどね。１０巻くらいまで。せめて１０巻くらいまで</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">考えなあかんな</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">そうですね。またよろしくお願いしますよほんとに</div></div>

    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">なんぼくらい売れるんやろー</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">わかんない</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">でもコミティアで売れる人ってpixivとかで人気がある人が売れるっていう</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">あーなるほどね。まぁそれはフタ開けてみないとわからへんからね</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">どうする？逆に売り切れたらどうする？（笑）</div></div>

    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">北岾モナカさんのあの説明ページとか面白かった</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">あれすごくいいよね。あれなんかあいりすすげーって思った</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">あれがないと何もわからんみたいな（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">neko</div><div class="content">説明なくてもわかりましたよ</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">でもなんか作者のあとがきみたいでいいなって思った</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">そうね。ちゃんと設定考えてんだっていうのがわかって</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">ページ数余っちゃったから描いちゃった（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">でもあれ小中高大学全部服ちゃんと違うの？</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">でも1コマしか出てこないから、しかも後ろ姿で</div></div>
    <div class="statement clearfix"><div class="speaker">カムラジュンタ</div><div class="content">あそこは確かに説明ないとわからないかなって思った</div></div>
    <div class="statement clearfix"><div class="speaker">北岾モナカ</div><div class="content">やっぱり絵が下手だなって思って、頑張ろうと思いました（笑） デザイナーなのに絵下手だなって</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">いや上手いやろー。そんなん言われたら僕上げられへんくなるからやめて！（笑）僕のやつ多分腕こんなんなってるで（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">小山あると</div><div class="content">着地点よくわからないね（笑） 次回も頑張るぞみたいなので終わったらいいのかな？（笑）</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">次回もあればほんとによろしくお願いします！</div></div>
    <div class="statement clearfix"><div class="speaker">森田うよ介</div><div class="content">とりあえず今回の様子を見て出す部数とかも色々調整しながらやろうと思います。よろしくお願いします。ありがとうございました</div></div>
    <div class="statement clearfix"><div class="speaker">一同</div><div class="content">ありがとうございました</div></div>
  </div>
</div>
